{{#each @outputHistory as |item| }}
  <section>
    {{#if (eq item.type "entry") }}
      <p class="terminal-entry">
        {{item.text}}
      </p>
    {{else if (eq item.type "instruction")}}
      <div class="terminal-instruction">
        <p>
          {{item.introText}}
        </p>
        <p>
          {{item.cta}}
        </p>
      </div>
    {{else if (eq item.type "result")}}
      <pre class="terminal-result">
        {{item.text}}
      </pre>
    {{else if (eq item.type "incorrect")}}
      <div class="terminal-instruction">
        <p class="terminal-incorrect">
          {{item.text}}
        </p>
        <p>
          {{item.cta}}
        </p>
      </div>
    {{/if}}
  </section>
{{/each}}

